*{
    padding: 0%;
    margin: 0;
}

a{
    text-decoration: none;
    color: gold;
}
H1{
    line-height: 100px;
    color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
body{
    background-color: rgb(11, 130, 241);
}
img{
    height: 200px;
    height: 100px;
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 40px;
}
.texto{
    display: block;
    margin-bottom: 100px;
}
.pago{
    display: block;
    margin-left: 55%;
    margin-right: 50%;
}