*{
    padding: 0%;
    margin: 0;
}

a{
    text-align: center;
    text-decoration: none;
    color: gold;
    font-size: large;
}
H1{
    line-height: 100px;
    color: darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
body{
    background-color: rgb(11, 130, 241);
}
img{
    width: 200px;
    height: 200px;
}
.pago{
    text-align: center;
    display: block;
    margin-left: 50%;
    margin-right: 50%;
}
.button{
    background-color: black;
    display: block;
    width: 200px;
}